
* {
  color: #112D4E;
  font-family: Nunito, sans-serif;
}

body {
  background-color: #F9F7F7;
}
hr {
  background-color: #F9F7F7;
  border-style: none;
  border-top-style: dotted;
  border-color: #3F72AF;
  border-width: thick;
  width: 5%;
}
h1 {
  color: #112D4E;
}
h3 {
  color: #112D4E;
}
